// Font imports
@font-face {
    src: url(../assets/fonts/ProductSansRegular.ttf);
    font-family: "Product Sans Regular";
}

@font-face {
    src: url(../assets/fonts/Roboto-Light.ttf);
    font-family: "Roboto Light";
}

@font-face {
    src: url(../assets/fonts/FontAwesomeSolid.otf);
    font-family: "FontAwesome";
}

#title, .teacher-name {
    font-family: "Product Sans Regular";
    cursor: default;
    &::selection {
        background: none;
    }
}

.card-text {
    font-family: "Roboto Light";
    cursor: default;
    &::selection {
        background: none;
    }
}
// Ask

#title {
    color : #ED4264;
}

// TODO: Set availablability border indicator!

.card {
    width: 3fr;
    height: 1fr;
    transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover {
        transform: scale(1.025);
    }
    
}

.status-indicator {
    font-family: "FontAwesome";
}

.status-indicator-unavailable {
    color: gray;
}

.status-indicator-available {
    color: rgb(122, 235, 122);
}

.status-indicator-busy {
    color: rgb(241, 85, 85);
}

.status-indicator-onConsultation {
    color: rgb(97, 97, 223);
}

.container {
    // The Container where the teacher cards are located
    // tinanggal ko yung height nung body, yun yung nag papa weird
    //may nilagay ako height something dito kaya naging weird kanina
    #list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 10px;
        width : 100%;
        margin-top: 10px;
        margin-bottom: 40px;
    }

    // Different kinds of prompt
    #alerts-container {
        position: sticky;
        top : 180px;
        z-index: 9;
    }


}

#studentNumberInput {
    &::-webkit-inner-spin-button {
        -webkit-appearance : none;
    }

}

#loginpage-bg{
    background: #f5f5f5;
    font-family: "Product Sans Regular";
}

#btn-login{
    background:#ED4264;
    color:#f5f5f5;
}
